%div{ :id => "products-wrap", :class => "col-xs-12 col-sm-12 col-md-8 col-lg-9" }
  = will_paginate @products
  %h3.listings-header
    = @product_sub_category.name.titleize
  .row
  - @products.each do |product|
    %div{ :class => "product_thumbnail col-xs-12 col-sm-6 col-md-6 col-lg-4" }
      .thumbnail
        = image_tag product.image, alt: "image for #{product.name}"
        .caption
          %h4
            = link_to product.name, product_path(product), class: "h4"
          %small
            = sanitize product.description
            = link_to product.category_name, product_category_path(product.product_category_id)
          %br
          %span.price
            %small
              = product.product_price
          &nbsp;&nbsp;
          %span
            = link_to 'Add to Cart', { :controller => "line_items", :action => "create", :product_id => product.id, :remote => true }, { :method => :post, :class => "btn btn-default", :role => "button" }
  %br
  = will_paginate @products