%h3 
	#{ApplicationHelper::STORE_NAME} Order Invoice
%p
	This is an invoice of the items in your recent order:
%table{ :style => "width: 90%; border-collapse: collapse; vertical-align: middle; font-family: Helvetica; font-size: 100%, line-height: 2.25em"}
	%tr{ :style => "background: #eee;"}
		%th{ :style => "padding: 0.625em; :colspan => '5'"}
			Product Description
		%th{ :style => "padding: 0.625em; :colspan => '2'"}
			Qty
		%th{ :style => "padding: 0.625em; :colspan => '3'"}
			Price
		%th{ :style => "padding: 0.625em; :colspan => '3'"}
			Amount
	= render :partial => "line_items/invoice_line_items", :collection => @order.line_items, :as => :line_item
	%tfoot
		%th{ :style => "padding: 0.625em; :colspan => '5'"}
		%th{ :style => "padding: 0.625em; :colspan => '2'"}
			= @order.total_quantities
		%th{ :style => "padding: 0.625em; :colspan => '3'"}
		%th{ :style => "padding: 0.625em; :colspan => '3'"}
			= @order.formatted_total_price