Dear #{@order.name}

Thank you for your recent order from The #{ApplicationHelper::STORE_NAME}.

You ordered the following items:

= render @order.line_items

= sprintf("Order Total    %s\n", @order.formatted_total_price)

We'll send you a separate e-mail when your order ships.
