Dear #{@order.name}

Thank you for your recent order from The #{ApplicationHelper::STORE_NAME}.

You order of the following items:

= render @order.line_items

has been shipped.

Thank You, and hope you were well served.


