%h3 
	#{ApplicationHelper::STORE_NAME} Order Shipped
%p
	This is just to let you know that we've shipped your recent order:
%table
	%tr
		%th{ :colspan => "2" }
			Qty
		%th
			Description
= render @order.line_items
