.container
  = form_for(@order, html: { class: "form-horizontal", role: "form" }) do |f|
    %br
    %fieldset
      %legend
        Payment Details
      %br
      - if @order.errors.empty?
        .form-group
          = f.label :name, t('.name'), class: "col-sm-3 control-label"
          .col-sm-9
            %input{ :type => "text", :id => "order_name", :name => "order[name]", :class => "form-control", :placeholder => "Card Holder's Name" }
      - else
        %div{ :class => (@order.errors[:name].present?) ? "form-group has-error has-feedback" : "form-group has-success has-feedback" }
          = f.label :name, t('.name'), class: "col-sm-3 control-label"
          .col-sm-7
            %input{ :id => "order_name", :name => "order[name]", :class => "form-control", "aria-invalid" => (@order.errors[:name].present?) ? "true" : "false", "aria-describedby" => "order_nameStatus", :value => @order.name }
            %span{ :class => (@order.errors[:name].present?) ? "glyphicon glyphicon-remove form-control-feedback" : "glyphicon glyphicon-ok form-control-feedback", "aria-hidden" => "true" }
            %span{ :class => "sr-only", :id => "order_nameStatus" }
              = (@order.errors[:name].present?) ? "(error)" : "(success)"
      - if @order.errors.empty?
        .form-group
          = f.label :address, t('.address_html'), class: "col-sm-3 control-label"
          .col-sm-9
            %input{ :type => "text", :id => "order_address", :name => "order[address]", :class => "form-control" }
      - else
        %div{ :class => (@order.errors[:address].present?) ? "form-group has-error has-feedback" : "form-group has-success has-feedback" }
          = f.label :address, t('.address_html'), class: "col-sm-3 control-label"
          .col-sm-7
            %input{ :id => "order_address", :name => "order[address]", :class => "form-control", "aria-invalid" => (@order.errors[:address].present?) ? "true" : "false", "aria-describedby" => "order_addressStatus", :value => @order.address }
            %span{ :class => (@order.errors[:address].present?) ? "glyphicon glyphicon-remove form-control-feedback" : "glyphicon glyphicon-ok form-control-feedback", "aria-hidden" => "true" }
            %span{ :class => "sr-only", :id => "order_addressStatus" }
              = (@order.errors[:address].present?) ? "(error)" : "(success)"
              /@order.errors[:address].join(", ")
      - if @order.errors.empty?
        .form-group
          = f.label :email, t('.email'), class: "col-sm-3 control-label"
          .col-sm-9
            %input{ :type => "email", :id => "order_email", :name => "order[email]", :class => "form-control", :place_holder => "Enter email" }
      - else
        %div{ :class => (@order.errors[:email].present?) ? "form-group has-error has-feedback" : "form-group has-success has-feedback" }
          = f.label :email, t('.email'), class: "col-sm-3 control-label"
          .col-sm-7
            %input{ :id => "order_email", :name => "order[email]", :class => "form-control", "aria-invalid" => (@order.errors[:email].present?) ? "true" : "false", "aria-describedby" => "order_emailStatus", :value => @order.email }
            %span{ :class => (@order.errors[:email].present?) ? "glyphicon glyphicon-remove form-control-feedback" : "glyphicon glyphicon-ok form-control-feedback", "aria-hidden" => "true" }
            %span{ :class => "sr-only", :id => "order_emailStatus" }
              = (@order.errors[:email].present?) ? "(error)" : "(success)"
      - if @order.errors.empty?
        .form-group
          = f.label :card_number, 'Card Number', class: "col-sm-3 control-label"
          .col-sm-9
            %input{ :type => "text", :id => "order_card_number", :name => "order[card_number]", :class => "form-control", :place_holder => "Debit/Credit Card Number" }
      - else
        %div{ :class => (@order.errors[:card_number].present?) ? "form-group has-error has-feedback" : "form-group has-success has-feedback" }
          = f.label :card_number, 'Card Number', class: "col-sm-3 control-label"
          .col-sm-7
            %input{ :id => "order_card_number", :name => "order[card_number]", :class => "form-control", "aria-invalid" => (@order.errors[:card_number].present?) ? "true" : "false", "aria-describedby" => "order_card_numberStatus", :value => @order.card_number }
            %span{ :class => (@order.errors[:card_number].present?) ? "glyphicon glyphicon-remove form-control-feedback" : "glyphicon glyphicon-ok form-control-feedback", "aria-hidden" => "true" }
            %span{ :class => "sr-only", :id => "order_emailStatus" }
              = (@order.errors[:card_number].present?) ? "(error)" : "(success)"
      .form-group
        %label{ :class => "col-sm-3 control-label", :for => "expiry-month" }
          Expiration Date
        .col-sm-9
          .row
            .col-xs-3
              %select{ :class => "form-control col-sm-2", :name => "expiry-month", :id => "expiry-month" }
                %option
                  Month
                %option{ :value => "01" }
                  Jan (01)
                %option{ :value => "02" }
                  Feb (02)
                %option{ :value => "03" }
                  Mar (03)
                %option{ :value => "04" }
                  Apr (04)
                %option{ :value => "05" }
                  May (05)
                %option{ :value => "06" }
                  June (06)
                %option{ :value => "07" }
                  July (07)
                %option{ :value => "08" }
                  Aug (08)
                %option{ :value => "09" }
                  Sep (09)
                %option{ :value => "10" }
                  Oct (10)
                %option{ :value => "11" }
                  Nov (11)
                %option{ :value => "12" }
                  Dec (12)
            .col-xs-3
              %select{ :class => "form-control", :name => "expiry-year" }
                - value = 2015
                - 30.times do
                  %option{ :value => "#{value - 2000}" }
                    = value
                    - value += 1
      - if @order.errors.empty?
        .form-group
          = f.label :cvv, 'Card CVV', class: "col-sm-3 control-label"
          .col-sm-3
            %input{ :type => "text", :id => "order_cvv", :name => "order[cvv]", :class => "form-control", :place_holder => "Security Code" }
      - else
        %div{ :class => (@order.errors[:cvv].present?) ? "form-group has-error has-feedback" : "form-group has-success has-feedback" }
          = f.label :cvv, 'Card CVV', class: "col-sm-3 control-label"
          .col-sm-3
            %input{ :id => "order_cvv", :name => "order[cvv]", :class => "form-control", "aria-invalid" => (@order.errors[:cvv].present?) ? "true" : "false", "aria-describedby" => "order_cvvStatus", :value => @order.cvv }
            %span{ :class => (@order.errors[:cvv].present?) ? "glyphicon glyphicon-remove form-control-feedback" : "glyphicon glyphicon-ok form-control-feedback", "aria-hidden" => "true" }
            %span{ :class => "sr-only", :id => "order_cvvStatus" }
              = (@order.errors[:cvv].present?) ? "(error)" : "(success)"
      .form-group
        .col-sm-offset-3.col-sm-9
          %button{ :type => "submit", :class => "btn btn-success" }
            = t('.submit')