%h1 Listing orders
%table
  %thead
    %tr
      %th Name
      %th Address
      %th Email
      %th> Pay type
      %th
      %th
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td = order.name
        %td = order.address
        %td = order.email
        %td = order.pay_type
        %td 
          = link_to 'Show', order
        %td 
          = link_to 'Edit', edit_order_path(order)
        %td 
          = link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'New Order', new_order_path
%p 
  = paginate @orders
