/ %h2 t('.title')
- unless cart.line_items.empty?
	.container
		/.icon-cart3
		.row
			.col-lg-8.col-md-10
				%table.table.table-hover
					%thead
						%tr
							%th
								Product
							%th
								Description
							%th.text-center
								Price
							%th
								Qty
							%th.text-center
								Total
							%th
					%tbody
						= render(cart.line_items)
						%tr
							%td
							%td
							%td
							%td
							%td
								%strong
									Subtotal
							%td.text-right
								%strong
									%strong
										= cart.formatted_total_price
						%tr
							%td
							%td
							%td
							%td
							%td
								%strong
									Est/Shipping
							%td.text-right
								%strong
									= cart.formatted_est_shipping
						%tr
							%td
							%td
							%td
							%td
							%td
								%strong
									Total
							%td.text-right
								%strong
									= cart.formatted_total_price
						%tr
							%td
							%td
							%td
							%td
							%td
								- if (request.original_url == new_order_url) or (request.original_url == orders_url) or (request.referrer == new_order_url and request.xhr?)
									= link_to(content_tag(:span, (' ' + t('.continue_shopping')), class: 'glyphicon glyphicon-shopping-cart'), { :controller => "store", :action => "index" }, { :class => "btn btn-info", :id => "make-white" })
								- else
									= link_to(content_tag(:span, (' ' + t('.checkout')), class: 'glyphicon glyphicon-play'), { :controller => "orders", :action => "new" }, { :method => :get, :class => "btn btn-info", :id => "make-white" })
							%td
								= link_to(content_tag(:span, (' ' + t('.empty')), class: 'glyphicon glyphicon-trash'), { :controller => "carts", :action => "destroy", :id => cart.id, :remote => true }, { :method => :delete, :class => "btn btn-danger", :id => "make-white" })