%h1 Listing carts
= will_paginate
%table
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @carts.each do |cart|
      %tr
        %td
          = link_to 'Show', cart
        %td
          = link_to 'Edit', edit_cart_path(cart)
        %td
          = link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Cart', new_cart_path
= will_paginate
