%ul{ :class => "product_category_list" }
  - @product_categories.each do |product_category|
    - product_sub_categories = product_category.product_sub_categories
    %li{ :class => "product_category col-xs-12 col-is-6 col-sm-6 col-md-4 col-lg-3" }
      %h3
        = link_to product_category.name, product_category_path(product_category)    
      %ul
        - product_sub_categories.each do |product_sub_category|
          %li
            = link_to product_sub_category.name, product_sub_category_path(product_sub_category)