= f.input :product_category, :label => "Product Category", :include_blank => "choose product category", :as => :select, :collection => ProductCategory.all, :input_html => { :onchange => remote_request(:post, :change_sub_categories, { :product_category_id => "$('#product_product_category_id').val()"}, :product_product_sub_category_id) }
= f.input :product_sub_category, :label => "Product Sub Category", :collection => []