= semantic_form_for [:admin, @product] do |f| 
  = f.inputs "Product Details" do
    = f.input :name
    = f.input :upc_code
    = f.input :sku_code
    = f.input :product_price_without_symbol, :label => "Product Price"
    - if @product.persisted?
      = render "persisted_product", f: f, product: @product
    - else
      - if @product.try(:product_category_id)
        = render "invalid_new_product", f: f, product: @product      
      - else
        = render "blank_product", f: f     
    = f.input :image, :label => "Product Image", :as => :file, :hint => f.template.image_tag(@product.image.to_s)
    = f.input :image_cache, :as => :hidden
    = f.input :description, :label => "Product Description", :hint => "Description (20 words max)", :as => :ckeditor, :input_html => { :ckeditor => { :height => 100, :toolbar => 'Product' } }
    = f.input :balance, :as => :hidden

  = f.actions :submit


  -# - if f.object.errors.size >= 1  .errors.any?
  -#    = f.inputs "Errors" do
  -#      = f.object.errors.full_messages.join('|')