.input-as-button {
    background: #d9d9d9 !important;
    color: #000 !important;
    border: 1px solid #bfbfbf !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    -ms-border-radius: 2px !important;
    -o-border-radius: 2px !important;
    border-radius: 2px !important;
    font-weight: 300 !important;
}

.input-as-button:hover, .input-as-button:active {
    text-decoration: none !important;
    color: #000 !important;
    background: #cccccc !important;
    border: 1px solid #b3b3b3 !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px !important;
}

.input-as-button:focus {
    outline: none !important;
    background: #cccccc !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px inset !important;
}

.input-as-button[disabled] {
    background: #e6e6e6 !important;
    border: 1px solid #e6e6e6 !important;
    color: #999999 !important;
}

.input-as-button[disabled]:hover {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.input-as-button.blue {
    color: #fff !important;
    background: #0f75da !important;
    border: 1px solid #0c63b9 !important;
}

.input-as-button.blue:hover, .input-as-button.blue:active {
    background: #0d68c2 !important;
    border: 1px solid #0a56a1 !important;
    color: #fff !important;
    text-decoration: none !important;
}

.input-as-button.blue:focus {
    background: #0d68c2 !important;
}

.input-as-button.blue[disabled] {
    background: rgba(15, 117, 218, 0.6) !important;
    border: 1px solid rgba(15, 117, 218, 0) !important;
    color: #0c5baa !important;
}

.input-as-button.blue[disabled]:hover {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}