$ContainerPhone: 460px;
 
$screen-is: 480px;

$screen-is-min: ($screen-is);

$screen-is-max: 767px;

$screen-xs-max: ($screen-is-min - 1);

@import 'bootstrap';
@import 'select2-bootstrap';

// Minimum screen size for Medium screen / tablet.
$screen-sm-min: ($screen-is-max + 1);

// Container width for the custom grid.
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
  @media (min-width: $screen-is-min) and (max-width: $screen-is-max) {
    width: $ContainerPhone;
  }
}

// Function that creates the custom grid
// Intermediate small grid
@media (min-width: $screen-is-min) and (max-width: $screen-is-max) {
  @include make-grid(is);
}

// Add visibility "visible-is" class for the custom grid
@media (min-width: $screen-is-min) and (max-width: $screen-is-max) {
  @include responsive-visibility('.visible-is');
}

// Add hidden "hidden-is" class for the custom grid
@media (min-width: $screen-is-min) and (max-width: $screen-is-max) {
  @include responsive-invisibility('.hidden-is');
}

// Define the "visible-is" class as hidden in all other grid widths (Except in the custom grid).
@media (min-width: $screen-sm-min) {
  @include responsive-invisibility('.visible-is');
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.visible-is');
}