/*-----------------------------------------------
   removed normalize.css, because Ink already comes with the necessary defaults
   -------------------------------------------------*/

/* This container is a custom one, Bootstrap out of the box has 3 containers.
  Intermediate small screen / phone. (Custom breakpoint).
  Minimum screen size for the custom grid.
  Maximum screen size for the custom grid.
  Maximum screen size for Extra small screen / phone (We have to call it before bootstrap).
  */

@import "grids";
@import "font_icons";
/*@import "font-awesome"; use this or sprockets */
@import "custom_ui";


/*-----------------------------------------------
   £Custom Normalize
 -------------------------------------------------*/


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary,hr {  
  margin:0; 
  padding:0; 
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

li {
  list-style-type: none;
}

/* http://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685 
for table-responsive
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}*/


/*-----------------------------------------------
   £Typography
   font-weight of 400 is the same as normal, and 700 is the same as bold
 -------------------------------------------------*/

$font-size-base: 87.5%;
$line-height-base: 1.5em;

$icon-font-path: "assets";

body {
  font-size: 87.5%; /* 14px */
  line-height: 1.5em; /* 21px */
  max-width: 1500px;
  margin: 1.5em auto;
} 

lt-ie8 body {
  font-size: medium; 
}


/*-----------------------------------------------
   £Basic layout
 -------------------------------------------------*/

hr {
    border: 0;
    height: 0;
    width: 100%;
    border-bottom: 0.07142857142857142em solid #eeeeee; /* 1px / 14px */
    margin-top: 1em;
}


/*________________________________________________

   £Modules
 ________________________________________________*/


/*-----------------------------------------------
   £Header Navigation
 -------------------------------------------------*/

 body { padding-top: 3.5714285714285716em; } /*   50px / 14px */


/*-----------------------------------------------
   £Large Dropdown Menu
 ------------------------------------------------- */

 .dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 1.1428571428571428em; /* 16px / 14px */
  margin-right: 1.1428571428571428em;
  padding: 1.4285714285714286em 0em; /* 20px / 14px */
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 0.21428571428571427em 1.4285714285714286em; /* 3px/14px 20px/14px */
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large .dropdown-header a {
  color: #428bca;
  font-size: 1.0714285714285714em;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 2.142857142857143em; /* 30px / 14px */
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header a {
    padding: 0.21428571428571427em 1.0714285714285714em !important; /* 3px/14px 15px/14px */
  }
}

/*----------------------------------------------
   Product Description
 ------------------------------------------------*/

.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
  //max-height: 155px;
}


/*-----------------------------------------------
   £Shopping Cart //.icon-cart3 { font-size: 3em; }
 -------------------------------------------------*/

//#products-wrap .thumbnail { cursor:pointer;}

img#cart-image
{ 
  bottom:0px;position:fixed; margin-left:30px; /* keep the bar on top  */
}

div#bottomBar {
  position: fixed;/* keep the bar on top  */
  bottom: 0px;
  z-index: 9999;
  background:url(rail.jpg) bottom center repeat-x;
  height: 130px;
}

#make-white {
  color: white;
}

.height-transition {
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
  overflow-y: hidden;
}

.js .height-transition-hidden {
  max-height: 0;
}

/*-----------------------------------------------
   £Catelogue
 -------------------------------------------------*/

.listings-header {
  font-size: 1.5em; /* 21px */
  line-height: 1em; /* 21px */
}

a.h4 {
  font-weight: 500;
}

/*#products_listing {
    display: inline-block;
    *display:inline;  ie7 fix 
}


#products_listing > thumbnail:nth-child(3n+1) {
  clear: left;
}*/

/*@media (min-width: $screen-sm-min) {#products_listing .thumbnail img { height:100px; }}*/

.product_thumbnail .thumbnail img { height:140px; }

/*-----------------------------------------------
   £Product Category Index
 -------------------------------------------------*/

.product_category_list {
  width: 100%;
}

.product_category {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9285714285714286em; /* 13px / 14px */
  line-height: 1.6153846153846154em; /* 21px / 13px */
  & h3 {
    font-size: 1em; /* 14px */
    line-height: 1.5em; /* 21px / 14px */
    margin: 0.5em auto;
    & a {
      font-weight: 600;
      color: dimgray;//chocolate;
    }
  }
  & li a {
    color: steelblue;
    &:active, &:hover {
      outline: 0;
    }
  }
  /*width: 22em; */
}

lt-ie8 .product_category {
  zoom: 1;
  *display: inline;
}

/* ----------------------------------------------
  Main Store Sidebar
  ----------------------------------------------- */

.shape {    
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
.offer {
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
    }
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius {
  border-radius:7px;
}
.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.offer-success {  border-color: #5cb85c; }
.offer-success .shape {
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.shape-text {
  color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  transform:rotate(30deg);
} 
.offer-content {
  padding:0 20px 10px;
}
/*@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}*/

/*-----------------------------------------------
   £Order Form
 -------------------------------------------------*/

.legend-title {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

/*-----------------------------------------------
   £Products Show
 -------------------------------------------------*/

/*-----------------------------------------------
   £Global Footer
 -------------------------------------------------*/

.footer {
  font-size: 0.9em; /* 14.4px */
  line-height: 1.6666666666666665em; /* 24px / 14.4px */
  margin: 1.5em 0; 
}

.copyright {
  float: left;
  color: #ccc;
  &:before {
    content:"\00a9";
  }
}
.contact {
  float: right;
  & li {
    color: #ccc;
    padding-top: 0.5972222222222222em; /* 8.6px / 14.4px */
  }
  & a {
    color: #ccc;
  }
  & li:hover, & a:hover {
    color: #333;
  }
}

.contact .mail-contact {
  & li:first-child {
    color: #333;
    border-bottom: 0.06944444444444445em solid #333;
  }
}

.contact .social-contact {
  padding-bottom: 0.5972222222222222em; /* 8.6px / 14.4px */
  & li:first-child {
    //padding: 0 0 0.5972222222222222em;
    color: #333;
    border-bottom: 0.06944444444444445em solid #333;
  }
}