%br
.content-wrapper.col-xs-12.col-sm-12.col-is-12.col-md-8.col-lg-9
  .item-container
    .container
      .col-md-12
        .product.col-md-5.service-image-left
          %center
            = image_tag @product.image, alt: "image for #{@product.name}", :id => "item-display"
        .container.service1-items.col-sm-2.col-md-2.pull-left
          %center
            %a{ :id => "item-1", :class => "service1-item" }
              = image_tag @product.image, alt: "image for #{@product.name}", :id => "item-display"
            %a{ :id => "item-2", :class => "service1-item" }
              = image_tag @product.image, alt: "image for #{@product.name}", :id => "item-display"
            %a{ :id => "item-3", :class => "service1-item" }
              = image_tag @product.image, alt: "image for #{@product.name}", :id => "item-display"
      #products-wrap.col-md-7
        .product-title
          = @product.name
        .product-desc
          != @product.description
        .product-rating
          %i.fa.fa-star.gold{ :style => "color: gold" }
          %i.fa.fa-star.gold{ :style => "color: gold" }
          %i.fa.fa-star.gold{ :style => "color: gold" }
          %i.fa.fa-star.gold{ :style => "color: gold" }
          %i.fa.fa-star-o
        %hr
        .product-price
          = @product.product_price
        .product-stock
          In Stock
        %hr
        %span
        = link_to 'Add to Cart', { :controller => "line_items", :action => "create", :product_id => @product.id, :remote => true }, { :method => :post, :id => "make-white", :class => "btn btn-success", :role => "button" }
        = link_to 'Add to wishlist', '#', :id => "make-white", :class => "btn btn-danger wishlist", :role => "button"
  %br
  .container-fluid
    .col-md-12.product-info
      %ul{ :id => "myTab", :class => "nav nav-tabs nav_tabs" }
        %li.active
          %a{ :href => "#service-one", "data-toggle" => "tab" }
            DESCRIPTION
        %li
          %a{ :href => "#service-two", "data-toggle" => "tab" }
            PRODUCT INFO
        %li
          %a{ :href => "#service-three", "data-toggle" => "tab" }
            REVIEWS
      #myTabContent.tab-content
        #service-one.tab-pane.fade.in.active
          %section.container.product-info
            != @product.description
            %h3
              Features:
            /%li              
        #service-two.tab-pane.fade
          %section.container
        #service-three.tab-pane.fade