%section{ :class => "section", :id => "product_list" }
  %h1 
    Listing products
  = will_paginate
  %table
    - @products.each do |product|
      %tr{ :class => "#{cycle('list_line_odd', 'list_line_even')}" }
        %td
          = image_tag(product.image, :class => 'list_image', :alt => "caption of product")
        %td.list_price
          = product.product_price
        %td.list_description
          %dl
            %dt
              = product.name
            %dd
              / != product.introduction
              != product.description
        %td.list_actions
          %ul
            %li
              = link_to 'Show', product
            %li
              = link_to 'Add To Cart', '#'
  = will_paginate

/ :upc_code, :sku_code, :name, :description, :product_category_id, :product_sub_category_id, 