= form_for(@line_item) do |f|
  - if @line_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@line_item.errors.count, "error") prohibited this line_item from being saved:
      %ul
      - @line_item.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.label :product
    %br
    = f.text_field :product
  .field
    = f.label :cart
    %br
    = f.text_field :cart
  .actions
    = f.submit