%tr
	%td{ :style => "padding: 0.625em; :colspan => '5'"}
		= line_item.product.name
	%td{ :style => "padding: 0.625em; :colspan => '2'"}
		= line_item.quantity
	%td{ :style => "padding: 0.625em; :colspan => '3'"}
		= line_item.formatted_unit_price
	%td{ :style => "padding: 0.625em; :colspan => '3'"}
		= line_item.formatted_total_price