- if line_item == @current_item
	%tr#current_item
- else
	%tr
%td.col-sm-2.col-md-2
	.media
		%a{ :class => "thumbnail pull-left", :href => "#" }
			= image_tag line_item.product_image, alt: "image for #{line_item.product_name}", class: "media-object", style: "width: 4em; height: 4em;"
%td.col-xs-6.col-sm-6.col-md-6
	.media-body
		= link_to line_item.product_name, product_path(line_item.product)
	%span
		by
		%a{ :href => "#" }
			Brand name
	%span
		Status: 
	%span.text-success
		%strong
			In Stock
%td.col-sm-1.col-md-1.text-center
	%strong
		= line_item.formatted_unit_price	
%td.col-sm-1.col-md-1.text-center
	= line_item.quantity
%td.col-sm-1.col-md-1.text-center
	%strong
		= line_item.formatted_total_price
%td.col-sm-1.col-md-1.text-center
	= link_to(content_tag(:i, nil, class: 'fa fa-arrow-up'), { :controller => "line_items", :action => "create", :product_id => line_item.product_id, :remote => true }, { :method => :post, :class => "btn btn-info btn-sm", id: "make-white" })
	= link_to(content_tag(:i, nil, class: 'fa fa-arrow-down'), line_item, method: :delete, remote: true, class: "btn btn-danger btn-sm", id: "make-white")