%h1 Listing line_items
= will_paginate
%table
  %thead
    %tr
      %th Product
      %th Cart
      %th
      %th
      %th
  %tbody
    - @line_items.each do |line_item|
      %tr
        %td
          = line_item.product
        %td
          = line_item.cart
        %td
          = link_to 'Show', line_item
        %td
          = link_to 'Edit', edit_line_item_path(line_item)
        %td
          = link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Line item', new_line_item_path
= will_paginate
