#products-wrap.col-xs-12.col-is-12.col-sm-12.col-md-8.col-lg-9
	= will_paginate @products
	%h3.listings-header
		Product Listings
	- @products.each do |product|
		%div{ :class => "product_thumbnail col-xs-12 col-is-6 col-sm-6 col-md-6 col-lg-4" }
			.thumbnail
				= image_tag product.image, alt: "image for #{product.name}"
				.caption
					%h4
						= link_to product.name, product_path(product), class: "h4"
					%small
						= sanitize product.description
						= link_to product.category_name, product_category_path(product.product_category_id)
					%br
					%small
						= link_to product.sub_category_name, product_sub_category_path(product.product_sub_category_id)
					%br
					%span.price
						%small
							= product.product_price
					&nbsp;&nbsp;
					%span
						= link_to 'Add to Cart', { :controller => "line_items", :action => "create", :product_id => product.id, :remote => true }, { :method => :post, :class => "btn btn-default", :role => "button" }
	%br
	= will_paginate @products