%footer{:class => "footer clearfix", :role => "contentinfo" }
  .copyright
    #{Date.today.year} #{ApplicationHelper::STORE_NAME}
  .contact
    %ul.mail-contact
      %li
        Contact us
      %li.icon-mail
        %a{:href => "#"} Email us
    %ul.social-contact
      %li
        Social
      %li.icon-facebook
        %a{:href => "#"} Facebook
      %li.icon-twitter2
        %a{:href => "#"} Twitter
      %li.icon-googleplus2
        %a{:href => "#"} Google+
      %li{ :class => "fa fa-youtube-square fa-lg" }
        %a{:href => "#"} YouTube
      %li.icon-vimeo2
        %a{:href => "#"} Vimeo
      %li.icon-linkedin
        %a{:href => "#"} LinkedIn

/ icon-play fa fa-camera-retro fa-lg