.col-md-4.col-lg-3
	%h3.listings-header
		Deals
	.container
		.row
			.offer.offer-default
				.shape
					.shape-text
						top								
				.offer-content
					%h3.lead
						A default offer
					%p
						And a little description.
						%br 
							and so one
			.offer.offer-success
				.shape
					.shape-text
						top								
				.offer-content
					%h3.lead
						A success offer
					%p
						And a little description.
						%br 
							and so one
			.offer.offer-radius.offer-primary
				.shape
					.shape-text
						top
				.offer-content
					%h3.lead
						A primary-radius
					%p
						And a little description.
						%br
							and so one
			.offer.offer-info
				.shape
					.shape-text
						top
				.offer-content
					%h3.lead
						An new info offer
					%p
						And a little description.
						%br
							and so one
			.offer.offer-warning
				.shape
					.shape-text
						top
				.offer-content
					%h3.lead
						A warning offer
					%p
						And a little description.
						%br
							and so one
			.offer.offer-radius.offer-danger
				.shape
					.shape-text
						top
				.offer-content
					%h3.lead
						A danger-radius
					%p
						And a little description.
						%br
							and so one