%nav{ :class => "navbar navbar-trans navbar-fixed-top navbar-inverse", :role => "navigation" }
  .navbar-header
    %button{ :type => "button", :class => "navbar-toggle collapsed", "data-toggle" => "collapse", 
    "data-target" => "#navbar-collapsible" }
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a{ :href => "#{store_path}", :class => "navbar-brand" }
      %span{ :class => "glyphicon glyphicon-home", "aria-hidden" => "true" }
  %div{ :class => "collapse navbar-collapse", :id => "navbar-collapsible" }
    %ul{ :class => "nav navbar-nav navbar-left" }
      %li.dropdown.dropdown-large
        %a{ :class => "dropdown-toggle", "data-toggle" => "dropdown", :role => "button", "aria-expanded" => "false" }
          CATEGORIES
          %b.caret
          /%b{ :class => "icon-key icon-white" }
        = render "layouts/product_categories"
    %ul{ :class => "nav navbar-nav navbar-left" }
      %li.drop_down
        %a{ :class => "dropdown-toggle", "data-toggle" => "dropdown", :role => "button", "aria-expanded" => "false" }
          BRANDS
          %b.caret
        /= render "layouts/product_categories"
    = form_tag products_path, :class => "navbar-form form-vertical navbar-left" do |f|
      %div{ :class => "form-group", :style => "display:inline;" }
        .select2-container
          = hidden_field_tag("global-product-search", '', id: 'global-product-search', class: 'select2 ajax', style: 'width: 30em;', data: { source: products_search_path, placeholder: 'Search for a product' })