%ul{ :class => "dropdown-menu dropdown-menu-large row", :role => "menu", "aria-labelledby" => "dropdownMenu" }
  - ProductCategory.all.each do |product_category|
    - product_sub_categories = product_category.product_sub_categories
    %li.col-sm-4.col-md-4.col-lg-3
      %ul
        %li.dropdown-header
          %a{ :href => "#{product_category_path(product_category)}" }
            = product_category.name
        - product_sub_categories.each do |product_sub_category|
          %li
            = link_to product_sub_category.name, product_sub_category_path(product_sub_category)
        /%li.divider
      