/%nav.navbar.navbar-default.navbar-static
%nav{ :class => "navbar navbar-trans navbar-fixed-top navbar-inverse", :role => "navigation" }
  .navbar-header
    %button{ :class => "navbar-toggle", :type => "button", "data-toggle" => "collapse", "data-target" => ".js-navbar-collapse" }
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    /%a{ href => "#{store_path}", :class => "navbar-brand" } Large Dropdown Menu
    %a{ :href => "#{store_path}", :class => "navbar-brand" }
  .collapse.navbar-collapse.js-navbar-collapse
    %ul.nav.navbar-nav
      %li.dropdown.dropdown-large
        %a{ :href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" }
          CATEGORIES
          %b.caret
        %ul.dropdown-menu.dropdown-menu-large.row
          %li.col-sm-3
            %ul
              %li.dropdown-header
                Glyphicons
              %li
                %a{ :href => "#" }
                  Available glyphs
              %li.disabled
                %a{ :href => "#" }
                  How to use
              %li
                %a{ :href => "#" }
                  Examples
              %li.divider
              %li.dropdown-header
                Dropdowns
              %li
                %a{ :href => "#" }
                  Example
              %li
                %a{ :href => "#" }
                  Aligninment options
              %li
                %a{ :href => "#" }
                  Headers
              %li
                %a{ :href => "#" }
                  Disabled menu items
          %li.col-sm-3
            %ul
              %li.dropdown-header
                Button groups
              %li
                %a{ :href => "#" }
                  Basic example
              %li
                %a{ :href => "#" }
                  Button toolbar
              %li
                %a{ :href => "#" }
                  Sizing
              %li
                %a{ :href => "#" }
                  Nesting
              %li
                %a{ :href => "#" }
                  Vertical variation
              %li.divider
              %li.dropdown-header
                Button dropdowns
              %li
                %a{ :href => "#" }
                  Single button dropdowns
          %li.col-sm-3
            %ul
              %li.dropdown-header
                Input groups
              %li
                %a{ :href => "#" }
                  Basic example
              %li
                %a{ :href => "#" }
                  Sizing
              %li
                %a{ :href => "#" }
                  Checkboxes and radio addons
              %li.divider
              %li.dropdown-header
                Navs
              %li
                %a{ :href => "#" }
                  Tabs
              %li
                %a{ :href => "#" }
                  Pills
              %li
                %a{ :href => "#" }
                  Justified
          %li.col-sm-3
            %ul
              %li.dropdown-header
                Navbar
              %li
                %a{ :href => "#" }
                  Default navbar
              %li
                %a{ :href => "#" }
                  Buttons
              %li
                %a{ :href => "#" }
                  Text
              %li
                %a{ :href => "#" }
                  Non-nav links
              %li
                %a{ :href => "#" }
                  Component alignment
              %li
                %a{ :href => "#" }
                  Fixed to top
              %li
                %a{ :href => "#" }
                  Fixed to bottom
              %li
                %a{ :href => "#" }
                  Static top
              %li
                %a{ :href => "#" }
                  Inverted navbar
