!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
%html{:class => 'no-js', :lang => 'en'}<>
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %title 
      = ApplicationHelper::STORE_NAME
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"
      = javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    /docElement.className=docElement.className.replace(/\bno-js\b/,'') + ' js';
    :javascript
      $(document).ready(function() {
        (function(h){h.className = h.className.replace('no-js', 'js')})(document.documentElement);
        $('.select2').each(function(i, e) {
          var select = $(e)
          options = {}
          if (select.hasClass('ajax')) {
            options.ajax = {
              url: select.data('source'),
              quietMillis: 250,
              dataType: 'json',
              data: function(term, page) { return { q: term, page: page, per: 25 } },
              results: function (data, page) {
                return {
                  results: data.products,
                  more: data.total > (page * 25)
                };
              },
            }
            options.minimumInputLength = 2
            options.dropdownCssClass = "bigdrop"
          }
          select.select2(options)
        }); 
      });
      $(document).ready(function() {   
        equalHeight($(".product_thumbnail"));
      });
      $(document).ready(function() { 
        $('#global-product-search').on("change", function(e) {
          top.location.href = "/products/" + e.added.id;
        });
      });
      $(window).resize(function () {
        equalHeight($(".product_thumbnail"));
      });
      $(document).ready(function() { 
        $('#products-wrap .product_thumbnail').mousemove(function() {
          var position = $(this).position();
          $('#cart-image').stop().animate({
            left   : position.left+'px',
            },250,function() {
            });
          }).mouseout(function(){
        });
        $('#products-wrap .btn').click(function() {
          $('#cart-image').css({'-webkit-transform' : 'rotate(20deg)','-moz-transform' : 'rotate(20deg)' });
          setTimeout('angle()',200); 
        });

        $("#cart-image").click(function () {
          if ($("#cart-wrapper").hasClass("height-transition-hidden"))
            $("#cart-wrapper").slideDownTransition();
          else
            $("#cart-wrapper").slideUpTransition();
        });            
      });
    .container-fluid
      = render :partial => "layouts/navigation"
      .row
      /  .column-group
      /    = link_to image_tag("qpm-logo.jpg", alt: "QPM Brand", class: "img-responsive company-logo"), store_path
      .row
        .column-group
          #bottomBar{ :align => "left", :class => "col-xs-12 col-sm-12 col-is-12 col-md-8 col-lg-9" }
            = image_tag "cart.png", id: "cart-image"
          #cart-wrapper.height-transition.height-transition-hidden
            #cart
              = render @cart
      .row
        .column-group
          = yield
      .row
        .column-group
          %hr
          = render :partial => "layouts/footer"
    /[if IE] 
      = javascript_include_tag "ie7.js"